* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

@font-face {
  font-family: "Bodoni";
  src: url("fonts/Bodoni.woff") format("woff");
  /* You can include other font formats here for browser compatibility */
}
:root {
  --my-font: Bodoni, serif;
  --large-font: 30px;
  --medium-font: 1.7rem;
  --small-font: 1rem;
}
.Navlinks {
  display: flex;
}
nav {
  position: fixed;
  background-color: #121111;
  width: 100vw;
  z-index: 100;
  color: white;
  display: flex;
  justify-content: center;
}
.Navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  background: #000;
  align-items: center;
  width: 100vw;
}
.Categories {
  display: flex;
}
.nav-link a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 5px 20px;
  font-size: 1.3em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.nav-link a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 6px;
  /* border: 1px solid rgb(227, 219, 219); */
  border-radius: 3px;
  background-color: rgb(47, 47, 49);
  transition: width 0.3s ease;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.nav-link a:hover::after {
  width: 100%;
  left: 0;
}
.submenu {
  position: absolute;
  background-color: rgb(1, 1, 1);
  border: 1px solid #514d4d;
  list-style: none;
  margin-top: 2px;
  padding-left: 5px;
}

.submenu li {
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.submenu-container li:last-child {
  border-bottom: none;
}

/* Style submenu links */
.submenu a {
  text-decoration: none;
  color: #e4d8d8; /* Adjust the text color as needed */
  display: block;
  padding: 2px 5px;

  transition: background-color 0.3s;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.submenu a:hover {
  color: #c82a2a;
}
.responsive-navbar {
  padding: 0px 0 1rem 0;
}
.responsive-navbar .Navlinks {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  width: 50vw;
  height: 400px;
  top: 65px;
  border: 1px solid black;
  padding: 20px;
  background-color: rgb(10, 10, 10);
}
.responsive-navbar .icons {
  display: flex;
}
.responsive-navbar .Navlinks .nav-link a {
  display: flex;
  color: white;
  font-size: var(--large-font);
  text-align: center;
  font-weight: bold;
  padding: 4px 0;
  margin: 8px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.responsive-navbar .Navlinks .submenu {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}
.responsive-navbar .Navlinks a:hover {
  color: rgb(190, 183, 183);
  background-color: rgb(23, 23, 23);
}
.cartAccount {
  padding-left: 4rem;
}

.responsive-navbar .cartAccount {
  margin: 15px 0 0px 0;
}

.responsive-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.responsive-navbar .submenu a:hover {
  color: rgb(145, 79, 79);
  background-color: #eae5e5;
}
